/* Global App-Level Styling */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #0d0a0c;
  color: #fff;
}

.page {
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}